.banner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
}

.bannerImage {
    max-width: 100%;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.bannerText {
    position: absolute;
    align-self: center;
    margin: 0 10px;
    font-size: 48px;
    color: white;
}

.darkerImage {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}