footer{
    background-color: #000;
    padding: 3rem;
    text-align: center;
    height: 90px;
    flex-shrink: 0;
}
.footerText {
    margin-top: 1rem;
    color: white;
    font-size: 14px;
}

@media screen and (min-width: 420px) {
    .footerText {
        font-size: 24px;
    }
}