.header {
    width: 100%;
    height: 7rem;
}

.navbar {
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.navbar>img {
    width: auto;
    height: 3rem;
    padding: 1rem;
}

.nav {
    display: flex;
    padding: 1rem;
}

.navigationNavLink {
    list-style: none;
    margin: 0 2rem;
    color: #FF6060;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
    text-decoration: none;
}
a {
    text-decoration: none;
}
.active {
    text-decoration: underline ;
    color: #ff6060;
}

@media screen and (max-width: 650px){
    .navbar {
        padding: 1rem 1rem;
    }
    .navigationNavLink {
        margin: 0 0.5rem;
        font-size: 1rem;
        
    }
    .navbar>img {
        width: auto;
        height: 2rem;
        padding: 0.5rem;
    }
    .nav {
        display: flex;
        padding: 0rem;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}